<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/yiisoft/yii-core/tests/bootstrap.php"
    backupGlobals="true"
    colors="true"
    verbose="true"
    failOnRisky="true"
    failOnWarning="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    printerClass="yii\tests\ResultPrinter">
    <testsuites>
        <testsuite name="Yii DB unit tests">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
