<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" verbose="true" bootstrap="vendor/autoload.php" executionOrder="default" failOnRisky="true" failOnWarning="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="ActiveRecord">
      <directory>./vendor/yiisoft/active-record/tests</directory>
    </testsuite>
    <testsuite name="Mssql">
      <directory>./vendor/yiisoft/db-mssql/tests</directory>
    </testsuite>
    <testsuite name="Mysql">
      <directory>./vendor/yiisoft/db-mysql/tests</directory>
    </testsuite>
    <testsuite name="Pgsql">
      <directory>./vendor/yiisoft/db-pgsql/tests</directory>
    </testsuite>
    <testsuite name="Sqlite">
      <directory>./vendor/yiisoft/db-sqlite/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
