on:
  pull_request:
    paths: &paths
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-mysql.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

  push:
    branches: ['master']
    paths: *paths

name: db-mysql

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: PHP-${{ matrix.php }} MySQL-${{ matrix.mysql }}

    strategy:
      matrix:
        php:
          - 8.5
        mysql:
          - 5.7
          - latest
        include:
          - php: 8.1
            mysql: latest
          - php: 8.2
            mysql: latest
          - php: 8.3
            mysql: latest
          - php: 8.4
            mysql: latest

    uses: yiisoft/actions/.github/workflows/db-mysql.yml@add-db-mysql
    with:
      install-db: false
      mysql: ${{ matrix.mysql }}
      php: >-
        [${{ matrix.php }}]

