on:
  pull_request:
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-mariadb.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

  push:
    branches: ['master']
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-mariadb.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

name: db-mariadb

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: PHP ${{ matrix.php }}-mariadb-${{ matrix.mariadb }}

    env:
      COMPOSER_ROOT_VERSION: dev-master
      EXTENSIONS: pdo, pdo_mysql
      YII_MYSQL_TYPE: 'mariadb'

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - 8.4

        mariadb:
          - mariadb:10.4
          - mariadb:10.5
          - mariadb:10.6
          - mariadb:10.7
          - mariadb:10.8
          - mariadb:10.9
          - mariadb:latest

        include:
          - php: 8.1
            mariadb: mariadb:latest
          - php: 8.2
            mariadb: mariadb:latest
          - php: 8.3
            mariadb: mariadb:latest

    services:
      mysql:
        image: ${{ matrix.mariadb }}
        env:
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: true
          MARIADB_ROOT_PASSWORD: ''
          MARIADB_DATABASE: yiitest
        ports:
          - 3306:3306
        options: --health-cmd="mariadb-admin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout.
        uses: actions/checkout@v4

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.EXTENSIONS }}
          ini-values: date.timezone='UTC'
          coverage: pcov

      - name: Update composer.
        run: composer self-update

      - name: Install db-mysql.
        uses: yiisoft/actions/install-packages@master
        with:
          packages: >-
            ['db-mysql']

      - name: Run Mysql tests with phpunit and code coverage.
        run: vendor/bin/phpunit --testsuite Mysql --coverage-clover=coverage.xml --colors=always --display-warnings --display-deprecations

      - name: Upload coverage to Codecov.
        if: matrix.php == '8.4'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
