on:
  pull_request:
    paths: &paths
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-mssql-2017.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

  push:
    branches: ['master']
    paths: *paths

name: db-mssql-2017

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: MSSQL 2017 (Windows)

    uses: yiisoft/actions/.github/workflows/db-mssql.yml@add-db-mysql
    with:
      install-db: false

