on:
  pull_request:
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-mysql.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

  push:
    branches: ['master']
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-mysql.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

name: db-mysql

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: PHP ${{ matrix.php }}-mysql-${{ matrix.mysql }}

    env:
      COMPOSER_ROOT_VERSION: ^2.0
      EXTENSIONS: pdo_mysql

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - 8.5

        mysql:
          - mysql:5.7
          - mysql:latest

        include:
          - php: 8.1
            mysql: mysql:latest
          - php: 8.2
            mysql: mysql:latest
          - php: 8.3
            mysql: mysql:latest
          - php: 8.4
            mysql: mysql:latest

    services:
      mysql:
        image: ${{ matrix.mysql }}
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_PASSWORD: ''
          MYSQL_DATABASE: yiitest
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout.
        uses: actions/checkout@v4

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.EXTENSIONS }}
          ini-values: date.timezone='UTC'
          coverage: pcov

      - name: Install db-mysql.
        uses: yiisoft/actions/install-packages@master
        with:
          composer-root-version: ^2.0
          packages: >-
            ['db-mysql']

      - name: Run Mysql tests with phpunit and code coverage.
        run: vendor/bin/phpunit --testsuite Mysql --coverage-clover=coverage.xml --colors=always --display-warnings --display-deprecations

      - name: Upload coverage to Codecov.
        if: matrix.php == '8.5'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
