on:
  pull_request:
    paths: &paths
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-mssql.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

  push:
    branches: ['master']
    paths: *paths

name: db-mssql

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: MSSQL ${{ matrix.mssql }}

    strategy:
      matrix:
        php:
          - 8.1
          - 8.2
          - 8.3
          - 8.4
          - 8.5

        mssql:
          - 2022-latest

        include:
          - php: 8.5
            mssql: 2019-latest

    uses: yiisoft/actions/.github/workflows/db-mssql.yml@add-db-mysql
    with:
      mssql: ${{ matrix.mssql }}
      php: >-
        [${{ matrix.php }}]
