on:
  pull_request:
    paths: &paths
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-oracle.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

  push:
    branches: ['master']
    paths: *paths

name: db-oracle

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Oracle ${{ matrix.oracle }}

    strategy:
      matrix:
        php:
          - 8.5

        oracle:
          - 18
          - 21

        include:
          - php: 8.1
            oracle: 21
          - php: 8.2
            oracle: 21
          - php: 8.3
            oracle: 21
          - php: 8.4
            oracle: 21

    uses: yiisoft/actions/.github/workflows/db-oracle.yml@master
    with:
      oracle: ${{ matrix.oracle }}
      php: >-
        [${{ matrix.php }}]
