on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'
      - 'infection.json.dist'
      - 'psalm.xml'

  push:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'
      - 'infection.json.dist'
      - 'psalm.xml'

name: db-oracle

jobs:
  tests:
    name: PHP ${{ matrix.php }}-${{ matrix.oracle }}

    env:
      COMPOSER_ROOT_VERSION: dev-remove-test-batch-query-result-trait
      extensions: pdo, pdo_oci

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest

        php:
          - 8.0
          - 8.1
          - 8.2

        oracle:
          - oracle-xe-11g-r2:latest

    services:
      oci:
          image: wnameless/${{ matrix.oracle }}
          ports:
              - 1521:1521
          options: --name=oci

    steps:
      - name: Checkout.
        uses: actions/checkout@v3

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          ini-values: date.timezone='UTC'
          coverage: pcov
          tools: composer:v2, pecl

      - name: Update composer.
        run: composer self-update

      - name: Install db-oracle.
        run: composer require yiisoft/db-oracle --no-interaction --no-progress --optimize-autoloader --ansi

      - name: Run oracle tests with phpunit and code coverage.
        run: vendor/bin/phpunit --testsuite Oracle --coverage-clover=coverage.xml --colors=always

      - name: Upload coverage to Codecov.
        if: matrix.php == '8.0'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
