on:
  pull_request:
    paths: &paths
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-pgsql.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

  push:
    branches: ['master']
    paths: *paths

name: db-pgsql

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Postgres ${{ matrix.pgsql }}

    strategy:
      matrix:
        php:
          - 8.5

        pgsql:
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18

        include:
          - php: 8.1
            pgsql: 18
          - php: 8.2
            pgsql: 18
          - php: 8.3
            pgsql: 18
          - php: 8.4
            pgsql: 18

    uses: yiisoft/actions/.github/workflows/db-pgsql.yml@add-db-mysql
    with:
      pgsql: ${{ matrix.pgsql }}
      php: >-
        [${{ matrix.php }}]
