on:
  pull_request_target:
    paths:
      - 'src/**'
      - 'config/**'
      - '.github/workflows/rector.yml'
      - 'composer.json'
      - 'rector.php'

name: rector

jobs:
  rector:
    uses: yiisoft/actions/.github/workflows/rector.yml@master
    secrets:
      token: ${{ secrets.YIISOFT_GITHUB_TOKEN }}
    with:
      repository: ${{ github.event.pull_request.head.repo.full_name }}
      os: >-
        ['ubuntu-latest']
      php: >-
        ['8.3']
